div.attachments-header
  h3.attachments-title Clockify
div.timer-buttons-container
  button.timer-button(
    ng-click="startTimer()"
  ) Start task timer
  button.timer-button(
    ng-click="stopTimer()"
    ) Stop current timer
