div.timer-buttons-container
  button.timer-button(
    ng-click="startTimer()"
  ) {{vm.start}}
  button.timer-button.stop-button(
    ng-if="!vm.removeStopButton"
    ng-click="stopTimer()"
    ) {{vm.stop}}
